.side-bar {
  width: 40ex;
  height: 95vh;
  position: fixed;
  transition: all 0.5s ease;
  top: 0;
  border-right: 1px solid black;
  text-align: right;
  overflow-y: scroll;
}
.side-bar.bar-collapse {
  width: 4ex;
  overflow-y: hidden;
}

.expand {
	font-weight: bold;
	font-size: 20px;
}

.navigation {
	display: block;
}

.navigation.bar-collapse {
	display: none;
}

#main-switch {
	padding-bottom:2ex;
	text-decoration: underline;
}

#content {
	padding-left:5ex;
	font-size: 18px;
}

nav {
    background-color: #fff;
    z-index: 1;
	font-size: 18px;
	padding-left: 1ex;
	width: 30ex;
	font-weight: bold;
	text-align: left;
}

ul {
	list-style: none;
	padding-left: 1.5ex;
	margin-top:1.5ex;
	margin-bottom:1.5ex;
	border-left: 1px dashed black;
}

.collapse + ul {
	display:none;
}

span {
	display: block;
}

.toggle {
	display: inline;
	font-family: monospace;
}
