html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
	min-height:100vh;
  margin-bottom: 60px;
}

.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    z-index: 1;
    overflow: auto;
    border-right: 1px solid black;
}

.w3-sidebar.w3-collapse {
        display: block !important
    }

@media (max-width:992px) {
    .w3-sidebar.w3-collapse {
        display: none
    }
}
  
  .w3-top, .w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.w3-top {
    top: 0
}
  
  .w3-large {
    font-size: 18px !important
}
  
  .w3-padding {
    padding: 8px 16px !important
}

ul {
	list-style: none;
	padding-left: 1.5ex;
	margin-top:1ex;
	margin-bottom:1.5ex;
}

.collapse + ul {
	display:none;
}

span {
	display: block;
}
